
body {
	background-color: #FFE600 ;
	font-size: 35px;
}
form {
	font-size: 25px;
}
input {
	font-size: 30px;
}
b{
	size: 20px;
}
img{
width:289px;
}
a{
	color:#5C00FC;
	font-size: 30px;
}
p{
	color: #8B0F83;
	font-size: 28px;
}
h2{
	font-size: 34px;
}